.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #5e217b;
}

.hljs-keyword,.hljs-selector-tag,.hljs-tag {
    color: #f44336
}

.hljs-template-tag {
    color: #ffef00
}

.hljs-number {
    color: #c213ea
}

.hljs-variable,.hljs-template-variable,.hljs-attribute {
    color: #f44336
}

.hljs-literal {
    color: darkorchid
}

.hljs-subst {
    color: #8f8f8f
}

.hljs-title,.hljs-name,.hljs-selector-id,.hljs-selector-class,.hljs-section,.hljs-type {
    color: #f5b928
}

.hljs-symbol,.hljs-bullet,.hljs-link {
    color: #090d19
}

.hljs-deletion,.hljs-string,.hljs-built_in,.hljs-builtin-name {
    color: #1968d0
}

.hljs-addition,.hljs-comment,.hljs-quote,.hljs-meta {
    color: #bf0808
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: bold
}